{% extends "registration/user_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Tizimga kirish
{% endblock title %}


{% block content %}
<div class="card mt-5">
  <div class="card-header">
      <h3>Tizimga kirish</h3>
  </div>
  <div class="card-body">
      <form  method="post">
          {% csrf_token %}
          {{form|crispy}}
          <button class="btn btn-primary" >Login</button>
          Parollingizni unutingizmi? <a href="{% url 'password_reset' %}">Tiklash</a> | 
          Hisob yo'qmi? <a href="{% url 'signup' %}">Hisob yaratish</a>
      </form>
  </div>
</div>
{% endblock content %}