{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Parolni o'zgaritildi
{% endblock title %}


{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card mt-5">
            <div class="card-header">
                <h3>Parolni o'zgaritildi</h3>
            </div>
            <div class="card-body">
                <p>Sizning parolingiz muvaffaqiyatli o'zgartirildi.      </p>

                <a href="{% url 'index' %}" class="btn btn-primary">Qaytish</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

